footer {
  padding: 2rem;
  background: linear-gradient(180deg, rgba(6,50,78,1) 0%, rgba(12,129,204,1) 62%, rgba(0,212,255,1) 100%);
  color: #fff;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
  font-size: 1rem;
}

.footer > div > div {
  display: flex;
  justify-content: space-between;
}

.footer > div > div > ul > li {
  display: inline-block;
}

.footer > div > div ul > li > a {
  color: #fff;
  font-size: 18px;
  padding: 20px;
}
.footer > div > div > ul {
  list-style: none;
  display: inline-flex;
}

footer picture img {
  width: 180px;
}

.footer > div > div ul > li {
  list-style: none;
}
